
<div style="background-color: rgb(103, 101, 136);text-align: center; margin-left: 300px;margin-right: 300px;margin-top: 10px;margin-bottom: 10px;";>

    <title>Yazilim odevi3 </title>
     <h1>YAZILIM MÜHENDİSLİĞİ 3.ÖDEV</h1>
     Result is {{result}}
     <form action="compute" method="post">
    <div style="margin-top: 6px;">
        <textarea name="input1" rows="8" cols="30" style="background-color: aquamarine;"></textarea>
    </div>
    <br>
    
     
     <div >
        <textarea name="input2" rows="4" cols="10" style="background-color: aquamarine;"></textarea>
        <textarea name="input3" rows="4" cols="10" style="background-color: aquamarine;"></textarea>
        <textarea name="input4" rows="4" cols="10" style="background-color: aquamarine;"></textarea>
    
     </div>
     
     <br>
     <input type="submit" style="margin-bottom: 6px;">
    </form>
    </div>